@{ 
    ViewBag.Title = "Access Denied";
}

<div class="text-center mt-2">
    <h1 class="text-danger">Access Denied</h1>
    <h5 class="text-danger">You do not have permissions to view this resource</h5>
    <img src="~/images/accessDeniedjpg.jpg" />
</div>