@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<h1>All Roles</h1>

@if (Model.Any())
{
    <a style="width:auto" class="btn btn-primary" asp-controller="administration" asp-action="CreateRole">
        Create Role
    </a>
    foreach (var role in Model)
    {
        <div class="card mt-3">
            <div class="card-header">
                Role Id: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a asp-controller="administration" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="administration" asp-action="DeleteRole" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">Use the button below to create a role</h5>
            <a style="width:auto" class="btn btn-primary" asp-controller="administration" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
}