@{
    ViewBag.Title = "Account Locked";
}

<h4 class="text-danger">
    Your account is locked, please try again after some time or you may
    <a asp-action="ForgotPassword">reset your password by clicking here</a>
</h4>
